@import "./variable.styl"
@import "./mixin.styl"

html,body
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif
  font-weight: 400
  -webkit-font-smoothing: antialiased
html,body,#app
  height: 100%